# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.env
*.sqlite3

# Static files
staticfiles/
media/

# Django related files
*.log
*.pot
*.pyc
*.pyo
*.bak
*.swp
*.swo
*.coverage

# Project configuration files
.idea/
*.iml
*.ipynb_checkpoints/
